/* 주석달았던 속성의 설명은 생략하겠습니다 */
/* header, footer */
*{
    padding: 0; /* 안쪽 여백 */
    margin: 0;  /* 바깥쪽 여백*/
}
/* */
#logo {
    width: 100%;        /* 너비 */
    text-align: center; /* 글자 가운데 정렬 */
    font-weight: bold;  /* 글자 굵게 */
    font-size: 2.5em;   /* 글자 크기 */
    margin: 30px;       /* 바깥쪽 여백*/
}
a {
    text-decoration-line: none; /* 글자 밑줄 제거 */
    color: black;               /* 글자색 */
}
a:hover {               /* a태그에 마우스 올릴 시 */                    
    color: darkgray;    /* 글자색 */
}
#menu {
    background-color: #eee; /*메뉴 배경 색상*/
    height: 60px;           /*메뉴 바 높이*/
    width: 100%;            /*메뉴 바 넓이*/
    position: relative;     /*div를 가운데 정렬 하기 위한 부모 div의 속성들*/
    margin: 20px auto; 
    line-height: 60px; 
    vertical-align: middle; 
}
#mymenu {
    float: right;       /* 홈,로그인,마이페이지 오른쪽 정렬 */
    font-size: 20px;    /* 글자 크기 */
    margin-right: 5%;   /* 오른쪽 여백 */
}
#mymenu a {             
    margin-left: 30px;  /* 왼쪽 여백 */
}
#search-a {
    width: 400px;       /* 검색창 영역 크기 */
    height: 40px;       /* 검색창 영역 높이 */
    position: absolute; /* 세로 가운데 정렬 */   
    top: 0;                
    bottom: 0;             
    left: 0;               
    right: 0;              
    margin: auto;
}
#search {
    height: 100%;   /* 검색 입력폼 높이 */
    width: 360px;   /* 검색 입력폼 너비 */
    margin:0;       /* 바깥쪽 여백 */
    padding: 10px;  /* 안쪽 여백 */
    border: 0px;    /* 테두리 */
    float: left;    /* 왼쪽 배치*/
}
#search_btn {
    height: 100%;           /* 검색 버튼 높이 */
    width: 40px;            /* 검색 버튼 너비 */
    margin:0;               /* 바깥쪽 여백 */
    border: 0px;            /* 테두리 */
    background: #1b5ac2;    /* 배경색 */
    outline: none;          /* 클릭 시 나타나는 테두리 */
    float: right;           /* 오른쪽 정렬 */
    color: #fff;            /* 글자 색상 */
}
#search_btn:hover { 
    background: skyblue;    /* 검색 버튼에 마우스 올릴 시 배경색*/
}
#menu-icon {
    font-size: 35px;        /* 메뉴 아이콘 크기 */
}
#menu-a {
    width: 400px;       /* 메뉴 레이아웃 너비 */
    position: absolute; /* 세로 가운데 정렬 */   
    top: 0;                
    bottom: 0;             
    left: 0;               
    right: 60%;              
    margin: auto;
}
/* 서브메뉴에서 3개의 div 가로정렬 */
.submenu:after {
    content: "";
    display: block;
    clear: both;  /* float 속성에서 설정한 좌우 정렬을 해제*/
}
.menu1 {
    float: left;
    width: calc(100%/3);
}
.menu2 {
    float: left;
    width: calc(100%/3);
}
.menu3 {
    float: left;
    width: calc(100%/3);
} 
.menu4 {
    display: none;  /* 모바일 사이즈에서 나타나도록 숨긴다 */
} 
.submenu{  
    display: none;      /* 서브메뉴 숨김 */
    width: 500px;       /* 서브메뉴 너비 */
    position: absolute; /* 좌상단 기준점으로 배치 */
    top: 40px;          /* 기준점에서 위쪽 공간 띄움 */
    line-height: 30px;  /* 줄간격 */
}
.menu:hover .submenu {
    display: block;         /* 메뉴 아이콘에 마우스 올릴 시 서브메뉴 나타남*/
    background-color: #eee; /* 서브메뉴 배경색 */
    z-index: 10000;         /* 다른 요소와 겹칠때 높은 숫자가 위로 옴. bxslider의 버튼이 9999로 주어져있으므로 그보다 큰 숫자로 배치*/
}
footer {
    background-color: #eee; /* 푸터 배경 색상 */
    height: 300px;          /* 푸터 높이 */
    width: 100%;            /* 푸터 너비 */
    margin-top: 20px;       /* 푸터 상단 여백 */
    position: relative;     /* div를 가운데 정렬 하기 위한 속성 */
}
#footer_a {
    /* 가운데 정렬하기 위한 속성들 */ 
    width: 500px;
    position: absolute;  
    top: 0%;                
    bottom: 0;             
    left: 0;               
    right: 0;              
    margin: auto;
}
/* 푸터의 div 가로정렬 */
#footer_box:after {
    content: "";
    display: block;
    clear: both;
}
#footer1 {
    float: left;
    width: 40%;
}
#footer2 {
    float: left;
    width: 60%;
}
.fab {
    font-size: 40px;    /* SNS 아이콘 크기*/
    margin-right: 10px; /* 오른쪽 여백*/
    color: black;       /* 폰트 색상 */
}
.fab:hover {
    color: darkgray;    /* 아이콘에 마우스 올릴 시 색상 변경 */
} 

/* 반응형 */    
@media (max-width: 699px) {
    section {
        width: 100%;
        margin: 0 auto; 
    }
    /* 모바일 사이즈에서는 mymenu를 숨기고 menu4를 보이게 하면서 3개로 배치하였던 메뉴들을 4개로 배치한다 */
    #mymenu {
        display: none;  
    }
    .menu1 {
        float: left;        /* 왼쪽 배치 */
        width: calc(100%/4); /* 전체 너비에서 4등분 */
    }
    .menu2 {
        float: left;
        width:calc(100%/4);
    }
    .menu3 {
        float: left;
        width: calc(100%/4);
    } 
    .menu4 {
        display: block;
        float: left;
        width: calc(100%/4);
    } 
}
@media (max-width: 798px) and (min-width: 699px) { 
   section {
        width: 80%;
        margin: 0 auto; 
    }
}
@media (min-width: 798px) {
    .submenu:after {
        content: "";
        display: block;
        clear: both;
    }
    .menu1 {
        float: left;
        width: calc(100%/3)%;
    }
    .menu2 {
        float: left;
        width: calc(100%/3)%;
    }
    .menu3 {
        float: left;
        width: calc(100%/3)%;
    } 
    section {
        width: 70%;
        margin: 0 auto; 
    }
}
@media (max-width: 798px) {
    /* 태블릿 이하 사이즈에서는 푸터에서 가로 정렬했던 부분을 세로정렬한다.*/
    #footer1 {
        width: 100%;
        text-align: center;
    }
    #footer2 {
        width: 100%;
        text-align: center;
    }
    #footer2 ul {
        list-style:none;
        margin: 20px;
    }
    /* 태블릿 이하 사이즈에서는 검색창과 오른쪽 메뉴가 겹치치 않게 사이즈를 조정한다 */
    #search-a {
        width: 250px;
    }
    #search {
        width: 210px;
    }
    #mymenu {
        font-size: 15px;
        margin-right: 3%;
    }
    #mymenu a {
        margin-left: 10px;
    }
}
@media (max-width: 1030px) {
    #search-a {
        width: 250px;
    }
    #search {
        width: 210px;
    }
    #mymenu {
        font-size: 15px;
        margin-right: 3%;
    }
    #mymenu a {
        margin-left: 10px;
    }
}
@media (min-width: 1600px) {
    section {
        width: 50%;
        margin: 0 auto; 
    }
    #mymenu {
        font-size: 20px;
        margin-right: 5%;
    }
    #mymenu a {
        margin-left: 30px;
    }
    #search-a {
        width: 400px;
        height: 40px;
        position: absolute; /*세로 가운데 정렬*/   
        top: 0;                
        bottom: 0;             
        left: 0;               
        right: 0;              
        margin: auto;
    }
    #search {
        height: 100%;
        width: 360px;
        margin:0;
        padding: 10px;
        border: 0px;
        outline: none;
        float: left;   
    }
    
}

/* index.html */
#board:after {
    content: "";
    display: block;
    clear: both;
}
#board{
    margin-top: 50px;
    margin-bottom: 50px;
}
#bookstory {
    float: left;
    width: 50%;
    line-height: 40px;
    padding: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);    /* 그림자 x축, y축, 번짐정도, 그림자 확산 거리, 색상 */
}
#notice {
    float: left;
    width: 50%;
    line-height: 40px;
    padding: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
} 
div:not([class]) {
    box-sizing: border-box; /* 기본 값, width 값을 컨텐츠 영역의 테두리까지 박스모델의 전체 너비 값으로 사용 */
}

/* 탭메뉴 */
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}
.tab_item {
  width: calc(100%/4);
  height: 50px;
  border-bottom: 3px solid #fff;
  background-color: #eee;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
}
.tab_item:hover {
    opacity: 0.75;  /* 탭메뉴의 탭에 마우스 올릴 시 투명도 변경 */
}
input[name="tab_item"] {
    display: none;  /* input radio버튼을 보이지 않게 함 */
}
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;          /* float 속성에서 설정한 좌우 정렬을 해제*/
}
/* 탭메뉴 */
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content, 
#tab4:checked ~ #tab4_content{ 
    display: block; /* tab이 체크되었을때 tab_content를 보여줌 */
}

.tabs input:checked + .tab_item {
    background-color: #fff; /* tab이 체크되었을때 해당 탭버튼 색상 변경 */
    color: #000;            /* tab이 체크되었을때 해당 글자 색상 변경 */
}
/*탭 메뉴 컨텐츠 배치*/
.tab_content:after {
    content: "";
    display: block;
    clear: both;
}
.book1 {
    float: left;
    width: calc(100%/3);
    padding: 0px;
    text-align:center;
}
.book1 img {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 147px;
    height: 213px;
}

/* 반응형 */ 
@media (max-width: 699px) {
    .book1 img {
        width: 113px;
        height: 153px;
    }
}
@media (max-width: 798px) {
    #bookstory {
        width: 100%;
    }
    #notice {
        width: 100%;
    } 
}
/* login.html */
#login{
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 15%;
}
#login input {
    width: 300px;
    height: 40px;
    margin: 10px;
}
#login_btn {
    width: 300px;
    height: 40px;
    margin:0;      
    border: 0px;
    background: #1b5ac2;
    outline: none;
    color: #fff;
    margin: 10px;
}
#login_btn:hover{
    background-color: #eee;
    color: black;
}
#idpw_search {
    width: 170px;
    height: 40px;
    border: 0px;
    background: #eee;
    outline: none;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#join {
    width: 125px;
    height: 40px;
    border: 0px;
    background: #eee;
    outline: none;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* detail.html */
#breadcrumb{
    float: left;
    width: 50%;
}
#sort {
    float: right;
    width: 50%;
    text-align: right;
}
#sort button {
    width: 60px;
    height: 30px;
    background-color: #eee;
    border: 0px;
}
#sort button:hover {
    background-color: darkgray;
    color: white;
}
hr{
    width: 100%;
}
#book_list{
    content: "";
    display: block;
    clear: both;
}
.book_detail{
    float: right;
    width: 10%;
    height: 280px;
    margin-top: 20px;
}

.book_detail p{
    width: 80%;
    font-size:1em;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:1.5;
    height:6em;
	word-wrap:break-word;
    display:-webkit-box;
    -webkit-line-clamp: 4;          /* 라인수 */
    -webkit-box-orient: vertical;   /* 박스 안 내용을 수직으로 나열 */

}
.book_button{
    float: right;
    width: 20%;
}
#image {
    float: right;
    width: 20%;
}
.book_button button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #eee;
    border: 0px;
}
.book_button button:hover {
    background-color: darkgray;
    color: white;
}
.book_img {
    box-shadow: 3px 3px 10px #7C7C7C;
    margin: 20px;
    width: 202px;
    height: 281px;
    border: 1px solid #222;
}
#page{
    width: 100%;
    height: 50px;
    position: relative; /*div를 가운데 정렬 하기 위한 부모 div의 속성들*/
}
#page ul {
    list-style-type: none;  
    width: 280px;
    height: 40px;
    position: absolute; /*세로 가운데 정렬*/   
    top: 0;                
    bottom: 0;             
    left: 0;               
    right: 0;              
    margin: auto;
}
#page li a {
    display: block;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;  
}
#page li a:hover { 
    background-color: darkgray; 
    color: white;
}
#page ul:after {
    content:"";
    display: block;
    clear: both;
}
#page li {
    float: left;    /* li속성들 왼쪽 정렬 */
}

/* 반응형 */    
@media (max-width: 699px) {
    .book_detail{
        float: right;
        width: 45%;
        margin-top: 20px;
    }
    .book_button{
        display: none;
    }
}
@media (max-width: 798px) and (min-width: 699px) {
    .book_detail{
        width: 30%;
    }
}
@media (min-width: 798px) {
    .book_detail{
        float: right;
        width: 50%;
        margin-top: 20px;
    }
    .book_button{
        float: right;
        width: 13%;
    } 
}

   